---

---

<header
    class="h-[100dvh] text-[9em] flex flex-col justify-center m-auto"
>
    <h1 class="leading-[9rem]">Hi! My name is</h1>
    <h1 class="text-main text-[290px] leading-[14rem] font-medium">
        Gerard Costa
    </h1>
    <h1 class="leading-[9rem]">
        I'm a <span class="font-bold">Full Stack developer</span>
    </h1>
    <h1 class="leading-[9rem]">
        and <span class="text-main font-medium"> (list of adjectives) </span>
    </h1>
</header>
