---
import ProjectCard from "./ProjectCard.astro";
import projects from "../projects.json";
import { Icon } from "astro-icon/components";

---

<section class="">
    <h1 class="text-[128px] font-medium">Skills and tools</h1>
    <main>
        <article>
            <Icon name="javascript" class="text-main" size={100} />
            <h2>Typescript</h2>
        </article>
    </main>
</section>
